body {
    background-color: antiquewhite;
}
.container {
    display: flex;
    justify-content: center;
    margin-top: 30%;
    
    
        font-family: 'Arial', sans-serif;
        font-size: 80px;
        color: #ff6600;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
      
}
